html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.blackSpace {
   width: 100%;
   background-color: black;
}

.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 960px;
}

.header img {
 display: inline-block;
 height: 1.5rem;
 padding-left: 0.5rem;
 padding-right: 1rem;
}

.name {
  display: inline-block;
  color: white;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.topImage {
   background-image: url("../images/moto.jpeg");
   height: 25rem;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.outerContainer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.blackSpace2 {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: black;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}


.blackSpace2 p {
   text-transform: uppercase;
   display: inline-block;
   padding-bottom: .25rem;
   font-weight: bold;
}

.blackSpace2 h1 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

.redSpace {
  width: 100%;
  background-color: firebrick;
}

.navigation {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
}

.navigation ul li {
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.whiteSpace {
  width: 100%;
}

.products {
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: auto;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px solid black;
  width: 30%;
}

.product img {
  height: 9rem;
  width: 100%;
  object-fit: contain;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: center;
}

.product h4 {
  background-color: black;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

#glasses {
  width: 9rem;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: auto;
  padding-bottom: 4rem;
}

.location {
  width: 35%;
}

.location h4 {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-indent: 2rem;
}

.location p {
 color: black;
}

.hours {
  width: 35%;
}

.hours h4 {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-indent: 2rem;
}

.hours p {
 color: black;
}

.blackSpace3 {
  height: 5rem;
  width: 100%;
  background-color: black;
}
